<header>
  <h1>Todo List ( {{$ctrl.incompleteCount}} )</h1>

  <label class="hide-completed">
    <input type="checkbox" ng-model="$ctrl.hideCompleted" /> Hide Completed Tasks
  </label>

  <login-buttons></login-buttons>
 
  <form class="new-task awesome-form form-inline" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
    <div class="input-group">
        <input ng-model="$ctrl.newTask" text="text" >
        <label>Enter Your Email..</label>
      </div>

  </form>

</header>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked, 'private': task.private, 'id':task}">

    <div class="sectionColle target">
      <a class="" role="button" data-toggle="collapse" href="#{{ task._id}}" aria-expanded="false" aria-controls="collapseExample">
        <span class="text">
      <strong>{{task.username}}</strong> - {{task.text}}
    </span>
      </a>

      <div class="collapse" id="{{task._id}}">
        <div class="well">
          <button class="delete" ng-click="$ctrl.removeTask(task)">
            <i class="fa fa-times-circle"></i>
          </button>

          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-primary active">
              <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked" /> C'est check
            </label>

            <button class="toggle-private btn btn-warning" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
              {{task.private == true ? "Private" : "Public"}}
            </button>

            <span>
              
              
            </span>
          </div>
        </div>
      </div>
    </div>

  </li>
</ul>